body {
   .create-search-section {
    #create-contact {
        display: none;
    }
    #search-contact {
        display: none;
    }
   }

   .contacts-favorites-section {
    display: flex;
    justify-content: space-evenly;
   }
}

